body{
    background-color: aliceblue;
    font-family: "Inter", sans-serif;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    height: 10vh;
}


header .logo img {
    height: 60px;
    width: auto;
}

.navegacion .menu li{
    display: inline-block;
    padding: 0 20px;

}

.navegacion .menu li:hover{
    transform: scale(1.1);
}


a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-underline-offset: 8px;
}

.desplegable{
    display: none;
}



/* Estilo para el menú desplegable */
header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /*Para que se sobreponga*/
    left: 0;
    top: 0;
    background-color: blanchedalmond;
    overflow: hidden;
    transition: all 0.3s ease 0s;

}

header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    color: azure;
}

header .overlay a:hover,
header .overlay a:focus{
    color:brown;
}

header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}



@media screen and (max-height:450px){
    header .overlay a{
        font-size: 20px;
    }
    
    header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.sobremi{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    height: 90vh;

}

.info_personal{
    width: 50%;
    text-align: left;
    margin: 20px;
}


.foto{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    border: 2px solid gray;
    object-fit: cover;
    margin: 20px;
    /*justify-content: space-between;*/
}

.educacion{
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    
    padding: 30px;
    min-height: 100vh;
}

.texto-educacion{
    background-color: yellow;
    margin: auto;
    padding: 30px;
    width: 300px;


}

.desplegables{
    background-color: blueviolet;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: auto;
    
}


summary{
    cursor: pointer;
    background-color: burlywood;
    padding: 10px;
}

details p{
    padding: 10px;
    background-color: aliceblue;
}


.proyectos{
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: blueviolet;
    width: fit-content;
    margin: 40px;
}


.indv-card{
    border: 2px solid gray;
    display: flex;
    width: 510px;
}

.columna-izquierda{
    background-color: aqua;
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.columna-izquierda img{
    width: 80%;

}

.columna-derecha{
    background-color: antiquewhite;
    width: 70%;
    height: 200px;
    padding: 10px;
}










@media screen and (max-width: 780px){
    .menu{
        display: none;
    }

    .desplegable{
        display: inherit;
    }

    .sobremi{
        flex-direction: column;
    }
    
    .info_personal{
        width: 80%;
    }

    .foto{
        width: 200px;
        height: 300px;
    }

    .educacion{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .desplegables{
        width: auto;
        margin: 0;
    }

    .texto-educacion{
        width: auto;
    }

    .indv-card{
        width: auto;
    }

    
}

@media screen and (max-width: 1045px){

    .contenedor-tarjetas, .detalles-trabajo{
        width: 90%;
    }
}

@media screen and (max-width: 1080px){
    .cards-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;     
    }

}



