:root {
    --color-fondo: #EDF6F9; 
    --rosa-claro: #FFDDD2; 
    --rosa-oscuro: #E29578;
    --azul-claro: #83C5BE;
    --azul-oscuro: #006D77;

}

section[id]{
    scroll-margin-top: 80px;
}

body{
    background-color: aliceblue;
    font-family: "Inter", sans-serif;
    background-color: var(--color-fondo);
}

/*Estilos barra de navegacion*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--azul-oscuro);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navegacion .menu li{
    display: inline-block;
    padding: 0 20px;

}

.navegacion .menu li:hover{
    transform: scale(1.1);
}

.nav-opcion{
    text-decoration: none;
    color: var(--rosa-claro);
    font-size: 14px;
}

.nav-opcion:hover{
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-underline-offset: 8px;
}

/*Estilos menu de navegacion (responsive only)*/
.menu-container{
    width: 30px;
    height: 30px;
    display: none;
}

.menu-toggler{
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: blue;
    font-size: 20px;
    font-weight: 500;
}

.menu-toggler:hover{
    background-color: orange;
}

#menu-checkbox{
    display: none;
}

.menu-responsive{
    display: none;
    flex-direction: column;

    width: 150px;
    height: auto;
    background-color: white;
    padding: 8px;
    gap: 10px;
    align-items: flex-start;
    margin-top: 5px;
    border-radius: 15px;
}
#menu-checkbox:checked + .menu-responsive{
    display: flex;
}

.responsive-items{
    background-color: chartreuse;
    padding: 10px;
    border-radius: 8px;
}


/*Estilos seccion info personal*/
.sobremi{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.info_personal{
    width: 50%;
    text-align: left;
    margin: 20px;
}

.saludo{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 40px;
}

.titulos{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
    

}

.subtitulos{
    font-weight: 200;
    margin-bottom: 10px;

    
}

.parrafo{
    font-weight: 400;
    margin-bottom: 20px;
}

.foto{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    border: 2px solid gray;
    object-fit: cover;
    margin: 20px;
    /*justify-content: space-between;*/
}


/*Estilos seccion educacion*/
.educacion{
    display: flex;
    flex-direction: row;
    padding: 30px;
    min-height: fit-content;
    background-color: var(--rosa-claro);
    border-radius: 50% 20% / 10% 40%;
    margin: 10px;
}



.texto-educacion{
    margin: auto;
    padding: 30px;
    width: 300px;
}

.desplegables{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: auto;
}

summary{
    cursor: pointer;
    background-color: var(--rosa-oscuro);
    padding: 10px;
    color: var(--azul-oscuro);
}

details p{
    padding: 10px;
    background-color: var(--color-fondo);
}

/*Estilos seccion proyectos*/
.proyectos{
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: fit-content;
    margin: 40px;
}


.indv-card{
    display: flex;
    width: 400px;
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.columna-izquierda{
    background-color: var(--azul-claro);
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px 0 0 20px;
    
}

.titulo-card{
    font-size: 15px;
    font-weight: 300;
}

.columna-izquierda img{
    width: 80%;

}

.columna-derecha{
    background-color: var(--color-fondo);
    width: 70%;
    height: 180px;
    padding: 10px;
    border-radius: 0 20px 20px 0;
}

.texto-tarjeta{
    font-weight: 200;
    font-size: 15px;
}










@media screen and (max-width: 780px){
    /* .menu{
        display: none;
    } */

    /* .desplegable{
        display: inherit;
    } */

 

    /* .menu-container{
        display: block;
        position: fixed;
        left: 15px;
    } */

    .sobremi{
        flex-direction: column;
        padding-top: 100px;
    }
    
    .info_personal{
        width: 80%;
    }

    .foto{
        width: 200px;
        height: 300px;
    }

    .educacion{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .desplegables{
        width: auto;
        margin: 0;
    }

    .texto-educacion{
        width: auto;
    }

    .indv-card{
        width: auto;
    }

    
}

@media screen and (max-width: 1045px){

    .contenedor-tarjetas, .detalles-trabajo{
        width: 90%;
    }
}

@media screen and (max-width: 1080px){
    .cards-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;     
    }

}



